{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h3 align="center">Write your journal today</h3>

<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>

<!-- Link to Bookshelf Page -->
<div align="center" style="margin-top: 20px;">
  <a href="{{ url_for('views.bookshelf') }}" class="btn btn-info">Go to Bookshelf</a>
</div>
{% endblock %}
